/* PRELOAD */

.preload {
  display: flex;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  position: fixed;
  left:0;
  top:0;
  pointer-events: none;
  div, img {
    opacity: 0;
    width: 100%;
  }
}

/*  BASE STYLES */

* {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
  }
}

.preload {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -9999;
  opacity: 0;
}

html {
  font: 125% $heebo;
}

body {
  font-size: 1rem;
  color: #fff;
  position: relative;
  background-color: #0f0f15;
}

a,
.upArrow {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $amber;
  }
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h1 {
  color: $lightBlue;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  color: $amber;
  text-transform: uppercase;
}

h4 {
  font-family: $special;
  font-size: 2rem;
}

h5 {
  font-family: $special;
  color: $lightBlue;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h5:not(:first-child) {
  margin-top: 40px;
}

h6 {
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 26px;
  color: $lightBlue;
  &.ds {
    font-size: .4rem;
    color: #777;
    text-align: center;
    transform: translateY(-5px);
    font-style: italic;
    text-shadow: 0 0 5px #000
  }
  &.smallCaption {
    font-size: .5rem;
    font-weight: 400;
    font-style: italic;
    position: relative;
    bottom: 8px;
  }
}


/*  COMMON ELEMENTS */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 768px;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

section {
  padding: 80px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.sectionTitle {
  color: $lightBlue;
  font-size: 6rem;
  opacity: 0.5;
  z-index: 0;
  text-shadow: 0 0 10px #000;
  user-select: none;
  cursor: default;
  z-index: 0;
  height: 150px;
  transform: rotate(17deg);
}

.backgroundStyle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(-25deg, $darkGrey 0 27.5%, transparent 28% 100%),
    linear-gradient(-65deg, $darkSlate 0% 29.5%, transparent 30% 100%),
    linear-gradient(-80deg, rgba(163, 178, 196, 0.45) 0 34.5%, transparent 35% 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
}

.fadeBorder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50px;
  background-image: linear-gradient(#000 10%, transparent 33% 67%, #000 90%);
  z-index: 1;
}
