* {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  &::-webkit-scrollbar-track {
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

body {
  color: #fff;
  background-color: #0f0f15;
}

a,
.upArrow {
  color: inherit;
  &:hover {
    color: $amber;
  }
}

h1 {
  color: $lightBlue;
}

h2 {
  color: #fff;
}

h3 {
  color: $amber;
}

h5 {
  color: $lightBlue;
}

h6 {
  color: $lightBlue;
  &.ds {
    color: #777;
    text-shadow: 0 0 5px #000
  }
}

.sectionTitle {
  color: $lightBlue;
  text-shadow: 0 0 10px #000;
}

.backgroundStyle {
  background-image:
    linear-gradient(-25deg, $darkGrey 0 27.85%, transparent 28% 100%),
    linear-gradient(-65deg, $darkSlate 0% 29.85%, transparent 30% 100%),
    linear-gradient(-80deg, $slate 0 34.85%, transparent 35% 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.fadeBorder {
  background-image: linear-gradient(#000 10%, transparent 33% 67%, #000 90%);
}

.introSection {
  background-image:
    linear-gradient(75deg, darken($darkGrey, 17%) 0% 27.85%, transparent 28% 100%),
    linear-gradient(115deg, darken($darkSlate, 21%) 0% 29.85%, transparent 30% 100%),
    linear-gradient(150deg, darken($slate, 20%) 0% 34.85%, transparent 35% 100%);
}

.centerHeaderItems {
  background: #000;
}

.lightMode {
  color: #000;
  background-color: #EFEFEF;

  a,
  .upArrow {
    &:hover {
      color: darken($amber, 20%);
    }
  }

  h1 {
    color: darken($lightBlue, 20%);
  }

  h2 {
    color: #000;
  }

  h3 {
    color: darken($amber, 20%);
  }

  h5 {
    color: darken($lightBlue, 20%);
  }

  h6 {
    color: darken($lightBlue, 20%);
  }

  .sectionTitle {
    color: darken($lightBlue, 20%);
  }

  .backgroundStyle {
    background-image:
      linear-gradient(-25deg, $faintGrey 0 27.85%, transparent 28% 100%),
      linear-gradient(-65deg, $fadedSlate 0% 29.85%, transparent 30% 100%),
      linear-gradient(-80deg, rgba(163, 178, 196, 0.45) 0 34.85%, transparent 35% 100%),
      linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    }

  .introSection {
    background-image:
      linear-gradient(75deg, lighten($faintGrey, 17%) 0% 27.85%,
      transparent 28% 100%),
      linear-gradient(115deg, lighten($fadedSlate, 21%) 0% 29.85%,
      transparent 30% 100%),
      linear-gradient(150deg, rgba(200, 215, 235, 0.45) 0% 34.85%,
      transparent 35% 100%);
  }

  .centerHeaderItems {
    background: #FFF;
  }
}
