.profilePic {
  position: relative;
  width: $ppSize;
  height: $ppSize;
  overflow: hidden;
  animation: none;
  img, div {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}

.mePicLayer1 {
  width: 100%;
  height: 100%;
}

.mePicLayer2 {
  background-image: url('../../assets/mePic-Asphodel-silhouette.png');
}

.mePicLayer3 {
  background-image: url('../../assets/mePic-Asphodel-2.jpg');
}

.profilePicAlt .mePicLayer3 {
  background-image: url('../../assets/mePic-Asphodel-1.jpg');
}
