.skillsContainer {
  display: flex;
  justify-content: space-between;
}

.skillsDesc {
  width: 70%;
}

.skillsText {
  font-size: 1.1rem;
}

.companiesList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 80px;
}

.companyLogoItem {
  border-radius: 10px;
  max-width: 300px;
  overflow: hidden;
  margin: 0 20px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateY(0) rotateX(0);
  position: relative;
}

.shine {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, #FFF1 0 30%, #FFF4 48% 52%, #FFF1 70% 100%);
  background-position: 0;
  background-size: 500px 500px;
  background-repeat: repeat;
  opacity: 0;
  border-radius: 10px;
}

.shineReset {
  transition: all 1s;
}

.companiesContainer {
  position: relative;
  width: 100%;
}

.devIcon {
  max-width: 100px;
}

.codePenAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.codePenBox {
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.devIconsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.devIconsBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 100px;
}

.devIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 20px;
  text-align: center;
  p {
    font-size: .8rem;
    font-weight: 500;
    margin: 10px 10px 0;
  }
  svg {
    width: 50px;
    fill: #9c97c8;
  }
}
