@import "partials/normalize";
@import "partials/variables";
@import "partials/header";
@import "partials/animations";

.preload, .preload div, .preload img { // requires dimension and visibility to trick browser into preload
  width: 1px;
  height: 1px;
  opacity: 0.01;
  overflow: hidden;
  z-index: -9999;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.devIcon {
  max-width: 100px;
}
